:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Inter", sans-serif !important;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar-track {
  background: lightgrey;
  border-radius: 0 0 0 0;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 0.25rem;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
